.button {
  position:relative;
  float:left;
  width:220px;
  height:80px;
  line-height:80px;
  text-align:center;
  color:white;
  font-size:30px;
  font-family: 'Lato', sans-serif;
  overflow:hidden;
  cursor:pointer;
  margin-top:20px;
  margin-left:40px;
  box-shadow:0px 3px 1px black;
}

.cover{
 position:absolute;
 top:0px;
 left:0px;
 width:220px;
 height:80px; 
  -ms-transform:translateX(-240px);
  -webkit-transform: translateX(-240px);
 transform:translateX(-240px);
 transition:all 0.5s ease-in-out;
}


/* .button background colors */

#twitter {
    background-color:rgba(85, 172, 238,1);
}

#facebook {
  background-color:rgb(66, 103, 178);
}

#google {
  background-color:rgb(221, 75, 57);
}

#dribble {
  background-color:rgb(234, 76, 137);
}

#youtube {
   background-color:rgb(179, 18, 23);
}

#instagram {
   background-color:rgb(63, 114, 155);
}

#linkedin {
   background-color:rgb(9, 118, 180);
}

#flickr {
   background-color:rgb(255, 0, 132);
}

#github {
   background-color:rgb(153, 153, 153);
}

#pinterest {
   background-color:rgb(204, 33, 39);
}

/* .cover background colors */ 

.twitter {
 background-color:rgb(35, 151, 234);
}

.facebook {
  background-color:rgb(32, 70, 147);
}

.google {
  background-color:rgb(219, 29, 8);
}

.youtube {
  background-color:rgb(158, 6, 8);
}

.dribble {
  background-color:rgb(214, 47, 111);
}

.instagram {
  background-color:rgb(43, 98, 140);
}

.linkedin {
  background-color:rgb(1, 101, 155);
}

.flickr {
  background-color:rgb(214, 0, 110);
}

.github {
  background-color:rgb(114, 107, 107);
}

.pinterest {
  background-color:rgb(186, 13, 18);
}

.button:hover .cover {
  transform:translateX(0px);
}


.fa {
  color:white;
  margin-top:15px;
}

a {
  text-decoration:none;
}